---
import ReactIsland from '../components/ReactIsland';

---

<html>
  <head>
    <title>Astro + Preact Counter</title>
  </head>
  <body>
    <!-- Wrap the components with ReactIsland -->
    <ReactIsland client:load />
  </body>
</html>
